################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CODE/AquaticStoreWebApp/packages
/CODE/DSED06_WebApp/packages
