@{
    ViewBag.Title = "Home Page";
}


<div class="page-header text">
    <h2>DSED06 Aquatic Pet Store</h2>
</div>

<body>

    <table class="table">
        <tr>
            <td>
               <h3> @Html.ActionLink("Pet Group", "Index", "PET_GROUP") </h3>
            </td>
            <td>
                <h3> @Html.ActionLink("Pet Information", "Index", "PET_INFO") </h3> 
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>

</body>




