@{
    ViewBag.Title = "Home Page";
}


<div class="page-header">
    <h1>DSED06 Aquatic Pet Store</h1>
</div>


<body>

    <div class="list-group">

        <td>
            <h3> @Html.ActionLink("Pet Group", "Index", "PET_GROUP") </h3>
        </td>
        <td>
            <h3> @Html.ActionLink("Pet Information", "Index", "PET_INFO") </h3>
        </td>
        <td>
            <h3> @Html.ActionLink("Pet Size", "Index", "PET_SIZE")</h3>
        </td>
        <td>

        </td>
        <td></td>

    </div>

</body>




