@model DSED06_WebApp.Models.AQUATIC_GROUP

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Aquatic Grouping Record</h2>

<h3>Are you sure you want to delete this record?</h3>
<div>
    <!-- h4>AQUATIC_GROUP</h4>  -->
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @* @Html.DisplayNameFor(model => model.NAME)  *@
            Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>
        

    </dl>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            
            <input type="submit" value="Delete" class="btn btn-default col-md-offset-1" />
                <!--| -->
            
            <p>&nbsp</p>
            @Html.ActionLink("Back to Aquatic Grouping Maintenance Page", "Index")
        </div>

    }
</div>
